.header {
  width: 100%;
  padding: 20px 40px;
  background: #14253d;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #2f415b;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #00fff7;
}

.header nav {
  display: flex;
  gap: 25px;
}

.header nav a {
  color: #8bacd9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: #00fff7;
}

.page-title {
  text-align: center;
  color: white;
  margin: 20px 0 35px;
}

@media (max-width: 600px) {
  .header {
    padding: 18px 20px;
    flex-direction: column;
    gap: 15px;
  }

  .header nav {
    gap: 15px;
  }

  .logo {
    font-size: 21px;
  }
}